<div class="row social-btn-container">
    <div class="col-md-offset-3 col-md-6">
        <div class="row">
            <div class="col-md-12">
                <button class="loginBtn loginBtn--facebook" id="facebook_login_btn">
                    Login with Facebook
                </button>

                <button class="loginBtn loginBtn--google" id="google_login_btn">
                    Login with Google
                </button>
                <a href="https://slack.com/oauth/authorize?scope=identity.basic,identity.email&client_id={{ slack_client_id }}">
                    <img src="https://api.slack.com/img/sign_in_with_slack.png" />
                </a>

            </div>
        </div>
    </div>
</div>